@media screen and (min-width: $desktop) {
   .logo {
    width: 145px;
    height: 31px;
    font-size: 26px;
    line-height: 31px;
  } 

   .header__nav-list {
    margin-left: 93px;
  } 

   .header__contacts {
    min-width: 333px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } 

   .header__contacts-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  } 

   .header__contacts-icon--envelope {
    width: 16px;
    height: 12px;
  }

  .header__contacts-icon--smartphone {
    width: 10px;
    height: 16px;
  } 

   .hero {
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main.jpg);
  } 

   .hero__section {
    padding-top: 200px;
  } 

   .backdrop__modal {
    width: 528px;
    height: 581px;
  } 

   .agreement {
    font-size: 14px;
    line-height: 1.714;
  } 

   .about-us {
    padding-top: 94px;
    padding-bottom: 94px;
  } 

   .about-us__title {
    display: inherit;
  } 

   .qualities {
    flex-wrap: nowrap;
    margin-bottom: 94px;
  } 

   .qualities__box {
    width: 270px;
  } 

   .work {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .work__thumb {
    position: relative;
  }

  .work__overlay {
    background-color: rgba(47, 48, 58, 0.8);
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 27px 0;
    position: absolute;
    bottom: 0px;
  } 

   .team {
    padding: 94px 0;
  } 

   .team__list {
    margin-top: 50px;
    flex-wrap: nowrap;
  }

  .team__card {
    width: 270px;
    padding-bottom: 30px;
  } 

   .clients {
    padding: 94px 0;
  } 

   .clients__list {
    margin-top: 50px;
    flex-wrap: nowrap;
  } 

   .clients__link {
    width: 170px;
  } 

   .portfolio {
    padding: 94px 0px;
  } 

   .grid {
    margin-top: 50px;
    align-content: space-between;
  } 

   .project {
    width: 370px;
  } 

   .project__item {
    height: 404px;
  } 

   .project__slide {
    padding: 63px 24px;
  } 

   .footer__info {
    max-width: 231px;
    align-items: flex-start;
  } 

   .footer__info-list {
    width: 231px;
    height: 81px;
    align-items: flex-start;
  } 

   .footer__social,
  .footer__subscribe {
    margin-top: 12px;
  } 

   .footer__form {
    flex-direction: row;
    align-items: center;
  } 

   .footer__label {
    display: flex;
    margin-bottom: 0;
  } 

   .footer__input {
    width: 358px;
    box-sizing: border-box;
  } 
}
