.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }

  &--footer {
    display: flex;
    justify-content: space-between;
  }
}