.grid {
  margin-top: 25px;
  color: $main-text;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;

  @media screen and (min-width: $tablet) {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 50px;
    align-content: space-between;
  }
}