.header {
  position: sticky;

  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;

  background-color: #fff;
  border-bottom: 1px solid #ececec;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__menu-icon {
    width: 40px;
    height: 40px;
  }

  &__nav-button {
    background-color: transparent;
    right: 15px;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__nav-list {  
    display: none;

    @media screen and (min-width: $tablet) {
      margin-left: 88px;
      display: flex;
      width: 294px;
      justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 93px;
    }
  }
}

.header__nav-item {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  &::after {
    display: block;
    position: relative;
    content: '';
    height: 4px;
    width: 100%;
    background-color: $brand-color;
    border-radius: 2px;
    top: 29.5px;

    transform: scaleX(0);
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &--current::after {
    transform: scaleX(1);
  }

  &:hover,
  &:focus,
  &--current {
    color: $brand-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

.header__contacts {
  display: none;

  @media screen and (min-width: $tablet) {
    height: 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-item {
      color: $secondary-info-color;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.02em;
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;

      &:hover,
      &:focus {
        color: $brand-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    min-width: 333px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-item {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .header__contacts-icon {
    display: inline-flex;
    fill: currentColor;
    margin-right: 8px;

    &--envelope {
      width: 14px;
      height: 10px;

      @media screen and (min-width: $desktop) {
        width: 16px;
        height: 12px;
      }
    }

    &--smartphone {
      width: 10px;
      height: 14px;

      @media screen and (min-width: $desktop) {
        width: 10px;
        height: 16px;
      }
    }
  }
} 

