.hero {
  background-color: #2f303a;
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &__section {
    text-align: center;
    display: flex;
    padding-top: 200px;
  }
}
