.hero {
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/m-hero.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/t-hero.jpg);
  }

  @media screen and (min-width: $tablet) {
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/d-hero.jpg);
  }

  &__section {
    text-align: center;
    display: flex;
    padding-top: 118px;

    @media screen and (min-width: $tablet) {
      padding-top: 200px;
    }
  }
}
